# About TDMS files

TDMS is a structured, binary file format developed by National Instruments. Structured means that it defines measurements in channels. Each channel belongs to a channel group and a file contains multiple channel groups.

![](https://knowledge.ni.com/servlet/rtaImage?eid=ka03q000000t0OS&feoid=00N3q00000HUsuE&refid=0EM3q000001e0vm)

In [43]:
from nptdms import TdmsFile

## Read the tdms_file

In [26]:
tdms_file = TdmsFile.read("data\AMR_LogFile_2022-03-02-17-57-01.tdms")

## List down all the groups

In [27]:
## Print out groups
groups = tdms_file.groups()
groups

## Access a group

In [28]:
group = tdms_file["Log"]
group

## access all the channels of a group

In [46]:
all_group_channels = group.channels()
all_group_channels

[<TdmsChannel with path /'Log'/'AMR-ACC-BU2-01-X'>,
 <TdmsChannel with path /'Log'/'AMR-ACC-BU2-01-Y'>,
 <TdmsChannel with path /'Log'/'AMR-ACC-BU2-01-Z'>,
 <TdmsChannel with path /'Log'/'AMR-ACC-BU3-01-X'>,
 <TdmsChannel with path /'Log'/'AMR-ACC-BU3-01-Y'>,
 <TdmsChannel with path /'Log'/'AMR-ACC-BU3-01-Z'>,
 <TdmsChannel with path /'Log'/'AMR-CRA-BAS-01'>,
 <TdmsChannel with path /'Log'/'AMR-CRA-BAS-02'>,
 <TdmsChannel with path /'Log'/'AMR-INC-BU1-01'>,
 <TdmsChannel with path /'Log'/'AMR-INC-BU2-01'>,
 <TdmsChannel with path /'Log'/'AMR-INC-BU3-01'>,
 <TdmsChannel with path /'Log'/'AMR-INC-BU4-01'>,
 <TdmsChannel with path /'Log'/'AMR-LAS-LKO-01'>,
 <TdmsChannel with path /'Log'/'AMR-TMP-KAL-01'>,
 <TdmsChannel with path /'Log'/'AMR-TMP-WEA-01'>,
 <TdmsChannel with path /'Log'/'AMR-WIR-BAS-01'>,
 <TdmsChannel with path /'Log'/'AMR-WIR-BAS-02'>,
 <TdmsChannel with path /'Log'/'AMR-WIR-BAS-03'>,
 <TdmsChannel with path /'Log'/'AMR-WIR-BU1-01'>,
 <TdmsChannel with path /'Log'/'AMR-WOR-WEA-01'>,
 <TdmsChannel with path /'Log'/'AMR-WVE-WEA-01'>,
 <TdmsChannel with path /'Log'/'cDAQ9189-1E6C9EFMod7/ctr0'>,
 <TdmsChannel with path /'Log'/'cDAQ9189-1E6C9EFMod7/ctr3'>,
 <TdmsChannel with path /'Log'/'cDAQ9189-1E6C9EFMod8/ctr0'>,
 <TdmsChannel with path /'Log'/'cDAQ9189-1E6C9EFMod8/ctr3'>]

## Access the data

In [45]:
group["AMR-INC-BU4-01"][:]

array([31.89869537, 31.85179417, 31.87992816, ..., 31.79551749,
       31.78619637, 31.88929997])

## Close the file

In [39]:
tdms_file.close()

# Function

In [53]:
def read_tdms_data(filename, side="AMR"):

    data_dict = {}
    with TdmsFile.open(filename) as tdms_file:
        group = tdms_file["Log"]
        
        for i in range(1,5):
            data_dict[f'B{i}'] = group[f"{side}-INC-BU{i}-01"][:]
        
    return pd.DataFrame(data_dict)

In [55]:
read_tdms_data(filename="data\\AMR_LogFile_2022-03-02-17-57-01.tdms", side="AMR")

              B1         B2         B3         B4
0      31.746708  33.350327  33.558487  31.898695
1      31.849919  33.415878  33.502203  31.851794
2      31.700026  33.350484  33.511613  31.879928
3      31.858766  33.406306  33.492844  31.842419
4      31.840792  33.406775  33.511695  31.861186
...          ...        ...        ...        ...
52090  31.803137  33.378385  33.558571  31.917451
52091  31.802933  33.369181  33.539710  31.823633
52092  31.821705  33.368843  33.502139  31.795517
52093  31.812573  33.444043  33.446041  31.786196
52094  31.737419  33.360062  33.539725  31.889300

[52095 rows x 4 columns]

In [57]:
read_tdms_data(filename="data\\SJL_LogFile_2022-03-02-17-59-08.tdms", side="SJL")

              B1         B2         B3         B4
0      31.690080  31.380090  31.457575  32.611334
1      31.680067  31.339706  31.511379  32.627702
2      31.772449  31.349182  31.536160  32.583156
3      31.723207  31.397833  31.549842  32.615372
4      31.708577  31.363951  31.479559  32.613105
...          ...        ...        ...        ...
29171  31.725068  31.316674  31.550118  32.565274
29172  31.713906  31.376415  31.515468  32.601303
29173  31.696067  31.351262  31.487901  32.632724
29174  31.730845  31.330341  31.511243  32.580626
29175  31.705825  31.311245  31.546985  32.630929

[29176 rows x 4 columns]